@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    AV NAÇÕES UNIDAS<br />
    Nº 5812<br />
           <abbr title="Telefone">Telefone:</abbr>
    11.2453.0100
</address>

<address>
    <strong>Supporte:</strong>   <a href="cletche91@hotmail.com">cletche91@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="cletche1991@gmail.com">cletche1991@gmail.com</a>
</address>