@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TECNOLOGIA UNICA</h1>
    <p class="lead"> AQUI VAI CONTEUDOS.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Leia mais aqui &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pagina em construção</h2>
        <p>
            PROCESSANDO OS CONTEUDOS AGUARDE !!!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Leia mais aqui &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pagina em construção</h2>
        <p>PROCESSANDO OS CONTEUDOS AGUARDE !!!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Leia mais aqui &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pagina em construção</h2>
        <p>PROCESSANDO OS CONTEUDOS AGUARDE !!!.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Leia mais aqui &raquo;</a></p>
    </div>
</div>